
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family:Arial, sans-serif;
}
.training{
    font-size: 60px;
    text-decoration: none;
    position: relative; 
    color:black;
}
.training span{
    color: #0071D1;
    font-family:poppins;
    font-weight:600;
    font-size: 40px;
    position: absolute;
}
.link-black {
    color:black;
    font-size: 60px;
}
.button-box {
    width: 310px;
    height: 3em;
    margin: 35px auto;
    position: relative;
    border-radius: 30px;
    background: #0071D1;
 }
 .toggle-btn {
    padding: 15px 45px;
    cursor: pointer;
    background: transparent;
    border: 0;
    position: relative;
    text-align: center;
    font-weight: bold;
    padding-top: 1.25em;
    font-style:poppins;
 }
 #btn {
    left: 0;
    top: 0;
    position: absolute;
    /* width: 50px;
    height: 100%; */
    margin: 6px;
    padding: 16px 74px;
    background: white;
    border-radius: 30px;
    transition: .5s;
    padding-top: 1.25em;
 }
.right{
    margin-left: 20rem; 
    padding-left: 20rem;
}
.row{
    display:flex;
    padding-left: 3em;
    padding-top: 2em;
    color: #0071D1;
}
#head{
    font-size: 2em;
    font-weight:bolder;
    padding-right: 9em;
}
.sentence{
    font-size: 2em;
    padding:30px 0px;

}
.sentence .para1{
    position: absolute;
    margin-left: 5rem;
    width: 38rem;
    margin-top: 100px;
}
.uiux{
    display:flex;
    position:relative;
    align-items:center;
    height:70px;
}
.firstParallelogram{
background-color:#0071D1;
height:70px;
display:flex;
padding-left:100px;
padding-right:300px;
align-items: center;
margin-top:80px;
transform:skew(-30deg);
margin-left:-30px;
}
.firstParallelogram span{
    transform:skew(30deg);
    color:white;
    font-size:24px;
    font-family:'Poppins','sans-serif';
}
.firstParallelogram2{
    background-color:#0071D1;
height:70px;
display:flex;
padding-left:100px;
padding-right:300px;
align-items: center;
margin-top:80px;
transform:skew(-30deg);
margin-left:-50px; 
}
.firstParallelogram2 span{
    transform:skew(30deg);
    color:white;
    font-size:24px;
    font-family:'Poppins',sans-serif;
}
.firstParallelogram3{
    background-color:#0071D1;
    height:70px;
    display:flex;
    padding-left:120px;
    padding-right:240px;
    align-items: center;
    margin-top:77px;
    transform:skew(-30deg);
    margin-left:-100px;
    }
.firstParallelogram3 span{
        transform:skew(30deg);
        color:white;
        font-size:24px;
        font-family:'Poppins',sans-serif;
    }
.sub{
    position:absolute;
    height:100%;
    top:0;
    width:30px;
    background-color:#0071D1;
    transform:skew(-30deg);
    margin-top:40px;
}
.fsd1{
    left:740px;
}
.fsd2{
    left:700px;    
}
.fsd3{
    left:660px;
}
.Parallelogram1
{
left:590px;
}
.Parallelogram2
{
left:630px;
}
.Parallelogram3
{
left:670px;
}
.container{
    margin-left:100px;
    margin-top:100px;
    display:flex;
    gap:100px;
    font-weight:800;
}
.element{
    width:250px;
    height:350px;
    padding:20px;
    border-radius:15px;
    border:1.5px solid #0071D1;
    text-align:center;
    box-shadow:0 5px 10px rgba(0,0,0,0.3);
    transition-delay:0.2s;
    cursor: pointer;
}
.element img{
    width:100%;
    height:200px;
    margin-bottom:10px;
}
.element h3{
    font-family:'Poppins';
    font-weight:normal;
    font-size:  20px;
    margin:0 200px 50px 0px;
    white-space:nowrap;
    text-wrap: wrap;
}
.element button{
    font-family:'Poppins',sans-serif;
    padding:8px 60px;
    background-color:#0071D1;
    color:white;
    border-radius:30px;
    border:none;
    margin:-10px 0px 0px 90px;
    cursor:pointer;
    transition-delay:0.2s;
    text-wrap:wrap;
}
.element a{
    text-decoration:none;
    color:white;
}

